{% extends 'base.html.twig' %}

{% block title %}Prix index{% endblock %}

{% block body %}
    <h1>Prix index</h1>
    {% if app.user %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Idc</th>
                <th>Categorie_prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for prix in prixes %}
            <tr>
                <td>{{ prix.id }}</td>
                <th>{{ prix.idc }}</th>
                <td>{{ prix.categoriePrix }}</td>
                <td>
                    <a href="{{ path('prix_show', {'idprix': prix.id}) }}">show</a>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('prix_edit', {'idprix': prix.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('prix_new') }}">Create new</a>
    {% else %}  
        <p> Connectez-vous pour avoir accès aux tables.
    {% endif %}
{% endblock %}
