{% extends 'base.html.twig' %}

{% block title %}Personne{% endblock %}

{% block body %}
    <h1 class="mx-auto" style="width: 200px; margin-top: 30px; margin-bottom: 30px;">Personne</h1>
    {% if app.user %}
        <table class="table table-striped table-hover text-center  border-primary">
            <thead  class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Nom_p</th>
                    <th>Prenom_p</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for personne in personnes %}
                <tr>
                    <td>{{ personne.id }}</td>
                    <td>{{ personne.nomP }}</td>
                    <td>{{ personne.prenomP }}</td>
                    <td>
                        <button type="button" class="btn btn-info btn-sm"><a href="{{ path('personne_show', {'idp': personne.id}) }}">Afficher</a></button>
                        {% if is_granted('ROLE_ADMIN') %}
                        <button type="button" class="btn btn-warning btn-sm"><a href="{{ path('personne_edit', {'idp': personne.id}) }}">Editer</a></button>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% if is_granted('ROLE_ADMIN') %}
        <button type="button" class="btn btn-success btn-block"><a href="{{ path('personne_new') }}">Nouvelle entrée</a></button>
    {% endif %}
    {% else %}  
        <p> Connectez-vous pour avoir accès aux tables.
    {% endif %}
{% endblock %}
