{% extends 'base.html.twig' %}

{% block title %}Affichage Personne{% endblock %}

{% block body %}
    <h1 class="mx-auto" style="width: 200px; margin-top: 30px; margin-bottom: 30px;">Personne</h1>

    <table class="table table-striped table-hover border-left border-primary">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ personne.id }}</td>
            </tr>
            <tr>
                <th>Nom_p</th>
                <td>{{ personne.nomP }}</td>
            </tr>
            <tr>
                <th>Prenom_p</th>
                <td>{{ personne.prenomP }}</td>
            </tr>
        </tbody>
    </table>

    <table style="border-collapse: separate; border-spacing: 3px;">
        <tbody>
            <td><button type="button" class="btn btn-success"><a href="{{ path('personne_index') }}">Retour</a></button></td>

            {% if is_granted('ROLE_ADMIN') %}
            <td><button type="button" class="btn btn-warning"><a href="{{ path('personne_edit', {'idp': personne.id}) }}">Editer</a></button></td>
            <td>{{ include('personne/_delete_form.html.twig') }}</td>
            {% endif %}

        </tbody>
    </table>
{% endblock %}
