{{ form_start(form) }}
	
	<table>
		<tr>
			<td style="text-align: right;">Personne :</td>
			<td>{{ form_widget(form.idp) }}</td>
		</tr>
		<tr>
			<td style="text-align: right;">Film :</td>
			<td>{{ form_widget(form.idf) }}</td>
		</tr>
		<tr>
			<td style="text-align: right;">Prix :</td>
			<td>{{ form_widget(form.idprix) }}</td>
		</tr>
		<tr>
			<td>Année prix :</td>
			<td>{{ form_widget(form.annee_prix) }}</td>
		</tr>
	</table>
	<hr/>

	<button class="btn btn-success" style="margin-right: 20px;">{{ button_label|default('Ajouter') }}</button>
   	<button type="button" class="btn btn-danger"><a href="{{ path('gagner_index') }}">Annuler</a></button>

{{ form_end(form) }}