{{ form_start(form) }}
	
	<table>
		<tr>
			<td>Personne</td>
			<td>{{ form_widget(form.idp) }}</td>
		</tr>
		<tr>
			<td>Film</td>
			<td>{{ form_widget(form.idf) }}</td>
		</tr>
		<tr>
			<td>Prix</td>
			<td>{{ form_widget(form.idprix) }}</td>
		</tr>
		<tr>
			<td>Année du prix</td>
			<td>{{ form_widget(form.annee_prix) }}</td>
		</tr>
	</table>
	<hr/>

	<button class="btn btn-success" style="margin-right: 20px;">{{ button_label|default('Ajouter') }}</button>
   	<button type="button" class="btn btn-danger"><a href="{{ path('gagner_index') }}">Annuler</a></button>

{{ form_end(form) }}