{% extends 'base.html.twig' %}

{% block title %}Gagner{% endblock %}

{% block body %}
    <h1>Gagner</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idp</th>
                <td>{{ gagner[0].getIdp() }}</td>
            </tr>
            <tr>
                <th>Idf</th>
                <td>{{ gagner[0].getIdf() }}</td>
            </tr>
            <tr>
                <th>Idprix</th>
                <td>{{ gagner[0].getIdprix() }}</td>
            </tr>
            <tr>
                <th>Annee_prix</th>
                <td>{{ gagner[0].getAnneePrix() }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('gagner_index') }}">back to list</a>

    <a href="{{ path('gagner_edit', {
        'idp': gagner[0].getIdp().getId(),
        'idf': gagner[0].getIdf().getId(),
        'idprix': gagner[0].getIdprix().getId()
    }) }}">edit</a>

    {{ include('gagner/_delete_form.html.twig') }}
{% endblock %}
