{{ form_start(form) }}
    {{ form_widget(form) }}
    <table>
    	<tr>
    		<td><button class="btn btn-success">{{ button_label|default('Ajouter') }}</button></td>
    		<td><button type="button" class="btn btn-danger"><a href="{{ path('ceremonie_index') }}">Annuler</a></button></td>
    	</tr>
    </table>
{{ form_end(form) }}
