{{ form_start(form) }}

	{{ form_label(form.nom_ceremonie) }}
	{{ form_widget(form.nom_ceremonie) }}

	<hr/>

	<button class="btn btn-success" style="margin-right: 20px;">{{ button_label|default('Ajouter') }}</button>
   	<button type="button" class="btn btn-danger"><a href="{{ path('ceremonie_index') }}">Annuler</a></button>

{{ form_end(form) }}
